body {
	margin:0;
	font: 14px "Segoe UI", Helvetica, Arial, sans-serif;
	position:fixed;
	height:100%;
	width:100%;
	overflow:auto;

}

#time {
	font-size: 10em;

	width:auto;
	margin-left:auto;
	margin-right:auto;
	text-align: center;

	position:relative;
	top:50%;
	transform:translateY(-50%);
	transition:1s;
	-webkit-transition:1s;

}