body {
	margin:0;
	position:fixed;
	height:100%;
	width:100%;
	overflow:auto;
	background-color:#000;

	transition: .5s;
	-webkit-transition: .5s;
}

#text {
	width:auto;
	margin-left:auto;
	margin-right:auto;
	text-align: center;

	position:relative;
	top:50%;
	transform:translateY(-50%);
}

#time {
	font: 10em "Myriad Pro", Helvetica, Arial, sans-serif;
}

#desc {
	font: 1em "Myriad Pro", Helvetica, Arial, sans-serif;
}