body {
	margin:0;
	//position:fixed;
	//height:100%;
	//width:100%;
	//overflow:auto;
	background-color:#000;

	transition: .5s;
	-webkit-transition: .5s;
}

a{
	color: #000;
}

#text {
	width:100%;
	text-align: center;

	position:absolute;
	top:50%;
	transform:translateY(-50%);

	color: #000;
}

@media all and (max-width: 1024px) {
	#time {
		font: 70px "Cuprum", Helvetica, Arial, sans-serif;
		transition: .3s;
		-webkit-transition: .3s;
	}

	#desc {
		font: 20px "Cuprum", Helvetica, Arial, sans-serif;
		transition: .3s;
		-webkit-transition: .3s;
	}

	#cred {
		font: 15px "Cuprum", Helvetica, Arial, sans-serif;
		transition: .3s;
		-webkit-transition: .3s;
	}
}

@media all and (min-width: 1024px) {
	#time {
		font: 120px "Cuprum", Helvetica, Arial, sans-serif;
		transition: .3s;
		-webkit-transition: .3s;
	}

	#desc {
		font: 30px "Cuprum", Helvetica, Arial, sans-serif;
		transition: .3s;
		-webkit-transition: .3s;
	}

	#cred {
		font: 20px "Cuprum", Helvetica, Arial, sans-serif;
		transition: .3s;
		-webkit-transition: .3s;
	}
}